.btnApply {
	background-color:#4269ea;
	border-radius:10px;
	display:block;
	cursor:pointer;
	color:#fff;	
	padding:5px 5px;
	text-decoration:none;	
	font-size: 14px;
    font-weight: bold;
    width: 100px;
    margin: 0 auto;

    
    &:hover {
    background-color:#f2f2f2;
    color: #333;
    border: 1px solid #4269ea;
}
}
