<!-- <div class="row">
  <div class="col-lg-3 col-12">
   <div>
   <img src="../../assets/laptop.jpg" class="img-fluid"> 
   </div>
<div>
  <p>Item 1</p>
  <p>319 900 64% off</p>
  <button class="btn addCart">Add to Cart</button>
</div>
  </div> 
</div> -->

<div class="row">

    <div class="col-lg-3 col-12 mb-3" *ngFor="let user of usersList">
        <div>
        <img [src]="user.img_url" class="img-fluid">        
        </div>
     <div class="col-12">
       <p>{{user.name}}</p>
       <p><span class="pr-3 font-weight-bold">₹{{user.price}}</span>
       <span class="discount">{{user.discount}}%  off</span>  
       <span class="d-block">{{user.category}}</span>     
       </p>
       <button class="btn addCart">Add to Cart</button>
     </div>
       </div>



</div>



